# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\STUDY\SPRING BOOT\thunder_test_detect\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
